.catalog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    input {
        min-width: 400px;
        height: 30px;
        border-radius: 15px;
        padding-left: 15px;
        border: 1px solid;
        margin-right: 25px;
    }
}

.catalog_items {
    display: flex;
    padding-top: 50px;
    flex-flow: wrap;
}