.cart_buy {
    display: flex;
    align-items: center;
    border: 1px solid #f3f3f3;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.cart_buy_photo {
    margin-right: 20px;
}

.cart_buy_text {
    margin-right: 20px;
}